Hi {{ ansible_os_family }},
your operating system is {{ ansible_os_family }}
package= {{ package_name }}
env = {{ env }}
os= {{ ansible_os_family }}
hostname = {{ ansible_hostname }}
user = {{ ansible_user }}
